<div class="container">
    <div class="col-md-12 col-md-offset-3">
      <div class="card-panel">
        <h3>Dashboard</h3>
          <div class="section">
            <h5>Search course</h5>
            <div class="row">
                <div class="col s8">
                  <select class="form-control" (change)="onchangeCourse(courses)" #courses>
                    <option value="" default>-- Select -- </option>
                    <option value="1">course 1</option>
                    <option value="2">course 2</option>
                  </select>
                </div>
                <div class="col s4">
                    <button class="btn btn-primary" (click)="searchCourse(courses)">Search</button>
                </div>
            </div>
          </div>
          <div class="divider"></div>

          <div class="section" *ngIf="showEnrollSection">
            <h5>Enroll Course</h5>
            <div class="row">
              <div class="col s10">
                <form #enrollForm="ngForm" (ngSubmit)="enrollCourse(enrollForm)" novalidate>
                <textarea class="form-control" row="5" name="comments" [(ngModel)]="enrollDetails.comments" #comments="ngModel" required>
                </textarea>
                <div *ngIf="enrollForm.submitted && !comments.valid">Comment is required.</div>
                <select class="form-control" name="studentName" [(ngModel)]="enrollDetails.studentName" #studentName="ngModel" required
                  style="margin-top:20px;">
                  <option value="" default>-- Select -- </option>
                  <option value="1">course 1</option>
                  <option value="2">course 2</option>
                </select>
                <div *ngIf="enrollForm.submitted && studentName.valid">Student name is required.</div>
                <button class="btn btn-primary" [disabled]="enrollForm.form.invalid"
                style="margin-top:20px;">
                  Enroll Me
                </button>
              </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>